@font-face {
    font-family: Bubbles;
    src: url(fonts/SF-Pro.ttf);
}


/*--------------- Navigation Bar ---------------*/
.logo img {
    height: 50px;
  }

.navbar {
	height: 5%;
	display: flex;
	align-items: center;
}
body, html{
	padding: 0;
	margin: 0;
}

header{
    display: flex;
	height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #fff;
}
header .logo{
    font-weight: bold;
}
header .menu{
	font-family: Bubbles;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
}




nav ul {   
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    
    margin: 0 10px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
  
nav ul li a:hover,
nav ul li.active a {
    background-color: #555555;
    border-radius: 5px;
}


#title {
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    max-width: 300px;
    height: auto;
    margin: 10px auto;
    font-size: 2.5em;
    color: #333;
}

h2 {
	text-align: center;
	color: rgb(93, 185, 221);
	font-size: 50px;
	letter-spacing: 7px;
	font-family: Bubbles, serif;
	text-shadow: 0 0 5px;
	height: 30px;
	margin-top: 40px;
	
}

.home {
	height: 80px;
	margin: 0 auto;
	position: absolute;
	top: 319px;
	left: 750px;
	transform: translateY(-50%);
	width: 320px;
}


.hbar {
	position: relative;
	top: 300px;
}



.Queries {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 1450px;
}

.user {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 1230px;
}

.site {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 1030px;
}

.student {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 830px;
}

.shop {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 530px;
}

.Thumbnail {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	width: 320px;
	right: 230px;
}

.c1 {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 600px;
	left: 530px;
	transform: translateY(-50%);
	width: 320px;
}

.c2 {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 680px;
	left: 530px;
	transform: translateY(-50%);
	width: 320px;
}

.c3 {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 760px;
	left: 530px;
	transform: translateY(-50%);
	width: 320px;
}

.c4 {
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 840px;
	left: 530px;
	transform: translateY(-50%);
	width: 320px;
}


.topic {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 22px;
	letter-spacing: 4px;
	line-height: 32px;
	position: relative;
	top: -48px;
}

.page {
	border-style: none;
	stroke-width: 6;
	stroke: rgb(91, 253, 245);
	fill: #272424;
	stroke: rgb(91, 253, 245);
	fill-opacity: 0.2;
	transition: fill 0.4s ease;
}


.page:hover{
	fill:#03c4ff;
	cursor: pointer;
}

/*  Lines  */
.downLine2 {
	position: absolute;
	top: 520px;
	left: 750px;
	stroke: rgb(91, 253, 245);
	stroke-width: 3px;
}

.downMain {
	position: absolute;
	stroke: rgb(91, 253, 245);
	top: 330px;
	left: 310px;
	stroke-width: 3px;
}

.studentname {
	position: relative;
	bottom: -720px;

}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #716666; 
}



